body {
    margin: 0;
}


.navBar {
    /* border: 3px solid rgba(94, 255, 0, 0.822);  */
    background-color: black;
    color: white;
    display: flex;
    height: 30rem;
    flex-direction: column;
}

.navItemsIcons {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red;  */
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red;  */
    flex: 1;

}

.navItemsContainer {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red;  */
}


.listItems {
    list-style: none;
    padding: 0.9rem;
}

.navIconsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    /* border: 2px solid red;  */

}

.logoImg {
    width: 12rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
}

.logoText {
    color: lightgray;
    font-size: x-large;
}

.container {
    padding: 3rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.ghostImg {
    width: 100%;
    /* border: 1px solid rgb(241, 12, 203);  */
}

.gettingStartBox {
    width: 30%;
    padding: 0rem 2rem;
    /* border: 1px solid red;  */
}

.gettingstartedText {
    color: oklch(62.3% 0.214 259.815);
    font-size: x-large;
    font-weight: bold;
}

.welText {
    font-size: xxx-large;
    margin: 0;
}

.messageText {
    font-size: x-large;
}

.testimonialContainer {
    display: flex;
    gap: 0.3rem;
}

/* .testiImgContainer {
    /* border: 1px solid red;  */

/* }  */

.testimonialProfile {
    width: 3rem;
    height: 3rem;
    padding: 1rem 0rem;
}

.testiBox {
    /* border: 1px solid red;  */
    padding: 0.5rem 0rem;
}

.writingInfo {
    margin: 0;
}

.cardsContainer {
    /* border: 2px solid red;  */
    width: 20rem;
}

.img {
    width: 95%;
    height: 40%;
    border-radius: 0.5rem;
}

.cardFirText {
    font-size: large;
    font-weight: 600;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.cardSecText {
    padding: 0;
    margin: 0;
}

.testimonialCon {
    gap: 0.7rem;
}

.smallIcon {
    width: 2rem;
    height: 2rem;
    padding: 1rem 0rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 3rem;
}

.twoBoxCon {
    /* border: 1px solid red;  */
    padding: 1rem 1rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    /* margin: 1rem 0rem; */
}

.cardBoxes {
    /* border: 1px solid red;  */
    width: 35rem;

}

.boxesImg {
    width: 35rem;
    height: 20rem;
    border-radius: 0.5rem;
    /* border: 1px solid red;  */

}